@CHARSET "ISO-8859-1";

#cabecalho {
	font-size: 40px;
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-weight: bold;
	position: relative;
	color: #D20005;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

#menu {
	float: left;
	padding: 5px;
	width: 180px;
}

#menu a {
	font-size: 14px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

}
#menu a:link, #top a:visited {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

#menu a:link:hover, #top a:visited:hover {
	color: #c0c0c0;
	background-color: #000000;
}
#conteudo {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-size: 14px;
	position: relative;
	padding: 5px;
	margin: 0px 255px 0px 257px;
}
#btn{
	
	font-size: 10px;
	background: white;
	border: none;
	border-color: black;
}